In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import gkey

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lagoa,PT,2021-12-18 23:37:36,39.0500,-27.9833,59.29,87,100,24.87
1,1,Clyde River,CA,2021-12-18 23:37:36,70.4692,-68.5914,3.43,85,100,12.66
2,2,Punta Arenas,CL,2021-12-18 23:37:37,-53.1500,-70.9167,64.51,45,0,26.46
3,3,Hasaki,JP,2021-12-18 23:37:37,35.7333,140.8333,30.60,39,69,4.92
4,4,Vao,NC,2021-12-18 23:37:38,-22.6667,167.4833,76.66,82,50,23.06

In [3]:
# Get Data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Vao,NC,2021-12-18 23:37:38,-22.6667,167.4833,76.66,82,50,23.06
7,7,Rikitea,PF,2021-12-18 23:37:39,-23.1203,-134.9692,77.99,74,90,11.95
11,11,Kapaa,US,2021-12-18 23:37:40,22.0752,-159.3190,80.92,70,40,4.00
14,14,Kirakira,SB,2021-12-18 23:37:41,-10.4544,161.9205,81.46,84,98,8.97
20,20,Cabo San Lucas,MX,2021-12-18 23:33:56,22.8909,-109.9124,76.30,73,20,10.36
21,21,Mareeba,AU,2021-12-18 23:37:43,-17.0000,145.4333,83.44,67,37,4.50
22,22,Robertsport,LR,2021-12-18 23:37:44,6.7533,-11.3686,81.27,82,32,7.49
23,23,Hilo,US,2021-12-18 23:36:58,19.7297,-155.0900,82.27,57,90,5.75
26,26,Placido De Castro,BR,2021-12-18 23:37:45,-10.3353,-67.1856,76.44,98,100,1.92
35,35,Gorontalo,ID,2021-12-18 23:35:19,0.5412,123.0595,81.28,82,97,1.45

In [12]:
preferred_cities_df.count()

City_ID       131
City          131
Country       131
Date          131
Lat           131
Lng           131
Max Temp      131
Humidity      131
Cloudiness    131
Wind Speed    131
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
4                 Vao      NC     76.66 -22.6667  167.4833
7             Rikitea      PF     77.99 -23.1203 -134.9692
11              Kapaa      US     80.92  22.0752 -159.3190
14           Kirakira      SB     81.46 -10.4544  161.9205
20     Cabo San Lucas      MX     76.30  22.8909 -109.9124
21            Mareeba      AU     83.44 -17.0000  145.4333
22        Robertsport      LR     81.27   6.7533  -11.3686
23               Hilo      US     82.27  19.7297 -155.0900
26  Placido De Castro      BR     76.44 -10.3353  -67.1856
35          Gorontalo      ID     81.28   0.5412  123.0595

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Vao,NC,76.66,-22.6667,167.4833,Hotel Kou-Bugny
7,Rikitea,PF,77.99,-23.1203,-134.9692,People ThankYou
11,Kapaa,US,80.92,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
14,Kirakira,SB,81.46,-10.4544,161.9205,SanBiz Lodge
20,Cabo San Lucas,MX,76.30,22.8909,-109.9124,Hotel Tesoro Los Cabos
21,Mareeba,AU,83.44,-17.0000,145.4333,Trinity Plains Tourist Park
22,Robertsport,LR,81.27,6.7533,-11.3686,Kwepunha Retreat
23,Hilo,US,82.27,19.7297,-155.0900,Hilo Hawaiian Hotel
26,Placido De Castro,BR,76.44,-10.3353,-67.1856,Hotel Carioca
35,Gorontalo,ID,81.28,0.5412,123.0595,Maqna Hotel by Prasanthi

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [26]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))